<div class="cols-grids panel-widget">
<p id="notice"><%= notice %></p>

<h2>お問い合わせ対応一覧</h2>

<table>
  <thead>
    <tr>
      <th class="col-xs-2 col-ms-2 col-md-2">対応id</th>
      <th class="col-xs-2 col-ms-2 col-md-2">お問い合わせid</th>
      <th class="col-xs-1 col-ms-1 col-md-1">対応日時</th>
      <th class="col-xs-1 col-ms-1 col-md-1">担当者</th>
      <th class="col-xs-4 col-ms-4 col-md-4">件名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responds.each do |respond| %>
      <tr>
        <td class="col-xs-1 col-ms-1 col-md-1" align="left"><%= respond.id %></td>
        <td class="col-xs-2 col-ms-2 col-md-2" align="left"><%= respond.contact_id %></td>
        <td class="col-xs-1 col-ms-1 col-md-1" align="left"><%= respond.respond_date %></td>
        <td class="col-xs-1 col-ms-1 col-md-1" align="left"><%= respond.staff %></td>
        <td class="col-xs-4 col-ms-4 col-md-4" align="left"><%= respond.title %></td>
        <td><%= link_to '詳細を確認', respond ,class: 'btn btn-info'%></td>
        <td><%= link_to '編集', edit_respond_path(respond) ,class: 'btn btn-warning'%></td>
        <td><%= link_to '削除', respond, method: :delete, data: { confirm: 'Are you sure?' } ,class: 'btn btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '対応新規作成(お問い合わせ一覧の詳細から作成する方を推奨)', new_respond_path ,class: 'btn btn-success'%>
</div>
