<!--inner block start here-->
<div class="inner-block">
    <div class="cols-grids panel-widget">
    	<h2>お問い合わせ一覧</h2>
		<div class="chute chute-center text-center">
      <table>
        <thead>
          <tr>
            <th class="col-xs-2 col-ms-2 col-md-2">日時</th>
            <th class="col-xs-1 col-ms-1 col-md-1">担当者</th>
            <th class="col-xs-4 col-ms-4 col-md-4">件名</th>
            <th class="col-xs-1 col-ms-1 col-md-1">ステータス</th>
            <th class="col-xs-2 col-ms-2 col-md-2">カテゴリ</th>
          </tr>
        </thead>

        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <td class="col-xs-2 col-ms-2 col-md-2" align="left"><%= contact.contact_date %></td>
              <td class="col-xs-1 col-ms-1 col-md-1" align="left"><%= contact.staff %></td>
              <td class="col-xs-4 col-ms-4 col-md-4" align="left"><%= contact.title %></td>
              <td class="col-xs-2 col-ms-2 col-md-2" align="left"><%= contact.status %></td>
              <td class="col-xs-2 col-ms-2 col-md-2" align="left"><%= contact.category %></td>
              <td><%= link_to '詳細を確認', contact %></td>
              <td><%= link_to '編集', edit_contact_path(contact) %></td>
              <td><%= link_to '削除', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'お問い合わせの新規作成', new_contact_path %>
		  </div>
	 </div>
</div>
<!--inner block end here-->
