<!DOCTYPE html>
<html>
<head>
  <title>RailsCs</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <title>CS-Box</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="page-container">
    <div class="left-content">
      <div class="mother-grid-inner">
        <div class="header-main">
          <div class="header-left">
            <div class="logo-name">
              <a href="/"> <h1>CS-Box</h1>
              </a>
            </div>
            <div class="search-box">
              <form>
                <input type="text" placeholder="Search..." required="">
                <input type="submit" value="">
              </form>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="header-right">
            <div class="profile_details_left">
              <div class="clearfix"> </div>
            </div>
            <div class="profile_details">
              <ul>
                <li class="dropdown profile_details_drop">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <div class="profile_img">
                      <span class="prfil-img"><img src="images/p1.png" alt=""> </span>
                      <div class="user-name">
                        <p>Malorum</p>
                        <span>Administrator</span>
                      </div>
                      <i class="fa fa-angle-down lnr"></i>
                      <i class="fa fa-angle-up lnr"></i>
                      <div class="clearfix"></div>
                    </div>
                  </a>
                  <ul class="dropdown-menu drp-mnu">
                    <li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
                    <li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li>
                    <li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div>
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="sidebar-menu">
      <div class="menu">
        <ul id="menu" >
          <li id="menu-home" ><a href="/"><i class="fa fa-home"></i><span>ホーム</span></a></li>
          <li><a href="/"><i class="fa fa-envelope"></i><span>お問い合わせ</span><span class="fa fa-angle-right" style="float: right"></span></a>
            <ul>
              <li><a href="/contacts">一覧</a></li>
              <li><a href="/contacts/new">新規作成</a></li>
            </ul>
          </li>
          <li id="menu-comunicacao" ><a href="#"><i class="fa fa-envelope-open nav_icon"></i><span>お問い合わせ対応</span><span class="fa fa-angle-right" style="float: right"></span></a>
            <ul id="menu-comunicacao-sub" >
              <li id="menu-arquivos" ><a href="/responds">一覧</a></li>
              <li id="menu-arquivos" ><a href="/responds/new">新規作成</a></li>
            </ul>
          </li>
          <li><a href="#"><i class="fa fa-users"></i><span>担当者</span><span class="fa fa-angle-right" style="float: right"></span></a>
            <ul id="menu-academico-sub" >
              <li id="menu-academico-avaliacoes" ><a href="/staffs">一覧</a></li>
              <li id="menu-academico-boletim" ><a href="/staffs/new">新規作成</a></li>
            </ul>
          </li>
          <li><a href="#"><i class="fa fa-cog"></i><span>カテゴリ設定</span><span class="fa fa-angle-right" style="float: right"></span></a>
            <ul id="menu-academico-sub" >
              <li id="menu-academico-avaliacoes" ><a href="/categories">一覧</a></li>
              <li id="menu-academico-boletim" ><a href="/categories/new">新規作成</a></li>
            </ul>
          </li>
          <li><a href="#"><i class="fa fa-file"></i><span>CSV連携</span><span class="fa fa-angle-right" style="float: right"></span></a>
            <ul id="menu-academico-sub" >
              <li id="menu-academico-avaliacoes" ><a href="404.html">404</a></li>
              <li id="menu-academico-boletim" ><a href="blank.html">Blank</a></li>
            </ul>
          </li>
          <li><a href="/pages/manual"><i class="fa fa-location-arrow"></i><span>ツールの使い方</span></a></li>
          <li><a href="#"><i class="fa fa-rocket"></i><span>ツールについての質問</span><span class="fa fa-angle-right" style="float: right"></span></a>
            <ul id="menu-academico-sub" >
              <li id="menu-academico-avaliacoes" ><a href="/pages/newfunc">新規機能提案</a></li>
              <li id="menu-academico-boletim" ><a href="/pages/bugs">不具合</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="clearfix"> </div>
    <div class="copyrights">
      <p>© 2019 fukagawaK All Rights Reserved</p>
    </div>
  </div>
</body>
</html>
